# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Credentials
.env

# Dev 
.gitignore
.dev.vars
/.wrangler/

# AI Agents Rules and Workflow
/Rules/
/Workflow/
/Logs/
.wrangler/tmp/bundle-8VgDmw/middleware-insertion-facade.js
.wrangler/tmp/bundle-8VgDmw/middleware-loader.entry.ts
.wrangler/tmp/dev-yOJBRU/functionsWorker-0.03205349522715517.js
.wrangler/tmp/dev-yOJBRU/functionsWorker-0.03205349522715517.js.map
.wrangler/tmp/pages-7xFjOl/functionsWorker-0.03205349522715517.mjs
.wrangler/tmp/pages-7xFjOl/functionsWorker-0.03205349522715517.mjs.map
